In [161]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn as sk
from sklearn import linear_model


from sklearn import tree
from sklearn import ensemble
from sklearn import svm
import xgboost

In [163]:
data=pd.read_csv(r"C:\Users\Ram Naresh\Desktop\Python\traffic volume.csv")

In [165]:
data.head()

  holiday    temp  rain  snow weather        date      Time  traffic_volume
0     NaN  288.28   0.0   0.0  Clouds  02-10-2012  09:00:00            5545
1     NaN  289.36   0.0   0.0  Clouds  02-10-2012  10:00:00            4516
2     NaN  289.58   0.0   0.0  Clouds  02-10-2012  11:00:00            4767
3     NaN  290.13   0.0   0.0  Clouds  02-10-2012  12:00:00            5026
4     NaN  291.14   0.0   0.0  Clouds  02-10-2012  13:00:00            4918

In [167]:
data.describe()

               temp          rain          snow  traffic_volume
count  48151.000000  48202.000000  48192.000000    48204.000000
mean     281.205351      0.334278      0.000222     3259.818355
std       13.343675     44.790062      0.008169     1986.860670
min        0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000     1193.000000
50%      282.460000      0.000000      0.000000     3380.000000
75%      291.810000      0.000000      0.000000     4933.000000
max      310.070000   9831.300000      0.510000     7280.000000

In [169]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   holiday         61 non-null     object
 1   temp            48151 non-null  float64
 2   rain            48202 non-null  float64
 3   snow            48192 non-null  float64
 4   weather         48155 non-null  object
 5   date            48204 non-null  object
 6   Time            48204 non-null  object
 7   traffic_volume  48204 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.9+ MB

data.isnull().sum()

In [172]:
data['temp'] = data['temp'].fillna(data['temp'].mean())
data['rain'] = data['rain'].fillna(data['rain'].mean())
data['snow'] = data['snow'].fillna(data['snow'].mean())

In [174]:
from collections import Counter
print(Counter(data['weather']))

Counter({'Clouds': 15144, 'Clear': 13383, 'Mist': 5942, 'Rain': 5665, 'Snow': 2875, 'Drizzle': 1818, 'Haze': 1359, 'Thunderstorm': 1033, 'Fog': 912, nan: 49, 'Smoke': 20, 'Squall': 4})

In [196]:
data.loc[:,'weather']=data['weather'].fillna('Clouds')

In [198]:
data.isnull().sum()

holiday           48143
temp                  0
rain                  0
snow                  0
weather               0
date                  0
Time                  0
traffic_volume        0
dtype: int64

In [210]:
from sklearn.preprocessing import LabelEncoder

In [212]:
le=LabelEncoder()

In [216]:
data['weather']=le.fit_transform(data['weather'])

In [218]:
data['weather']=le.fit_transform(data['weather'])

In [220]:
data.head()

  holiday    temp  rain  snow  weather        date      Time  traffic_volume
0     NaN  288.28   0.0   0.0        1  02-10-2012  09:00:00            5545
1     NaN  289.36   0.0   0.0        1  02-10-2012  10:00:00            4516
2     NaN  289.58   0.0   0.0        1  02-10-2012  11:00:00            4767
3     NaN  290.13   0.0   0.0        1  02-10-2012  12:00:00            5026
4     NaN  291.14   0.0   0.0        1  02-10-2012  13:00:00            4918

In [222]:
data[["day","month","year"]]=data["date"].str.split("-",expand=True)

In [235]:
data[["hours","minutes","seconds"]]=data["Time"].str.split(":",expand=True)

In [238]:
data.drop(columns=['date','Time'],axis=1,inplace=True)